.panel{
	padding:30px 0;
	text-align:center;
	cursor:pointer;
	background-color:#ddd;
	border-bottom:1px solid black;
}
.content{
	margin-bottom:30px;
 padding-bottom:50px;
 text-align:center;
 background-color:#ddd;
 margin-bottom:30px;
}